.container {
    border: 4px solid yellowgreen;
    max-height: 300px;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: antiquewhite;
    

}

.grid {
    border: 1px solid sandybrown;
    aspect-ratio: 1;

}

.black {
    background-color: black ;
}